<div ng-include="'components/navbar/cart.html'"></div>
<div >
<!-- *** TOPBAR ***
_________________________________________________________ -->
<div id="top">
    <div class="container">
        <div class="col-md-1 col-sm-3 col-xs-6">
            <a  href="index.html">
                <img width="140px" height="50px" src="/assets/img/logo.png"  class="hidden-xs">
                <img width="140px" height="50px" src="/assets/img/logo.png"  class="visible-xs"><span class="sr-only"></span>
            </a>
        </div>
         <div class="col-md-3 col-sm-3 col-xs-6 simba" >
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <div class="row">
                    <div >
                         <form>
                            <div class="form-group">
                                  <div id="advanced"
                                     data-input-name="country2"
                                     data-countries='{"ZW": "Zimbabwe","ZM": "Zambia","ZA":"South Africa"}'
                                     data-selected-country="ZA"
                                     data-button-size="btn-md"
                                     data-button-type="btn-default"
                                     data-scrollable-height="250px"                   
                                     >
                                </div>
                            </div>
                        </form>

                    </div>
                    
                </div>
            

            </div>
           
           
             
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 simba" >
                  
                    <div class="form-group pull-right  hidden-xs" style="padding-left: 20px">
                         <a ng-if="$stateParams.slug" style="margin: 10px" class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how it works</a>
                    </div>
         </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
             <div class="col-md-6 col-sm-6 col-xs-6"> 
                <div class="navbar-buttons pull-left">
                  <md-button ng-click="vm.openCart()" class="md-raised cart" ng-if="!search.show">
                    <ng-md-icon icon="shopping_cart"></ng-md-icon>
                    <span  show-gt-sm  class="hidden-xs">Cart {{vm.cart.getTotalCount()}} Items  </span>
                    <span hide show-gt-sm odometer="vm.cart.getTotalPrice()">
                  </md-button>
            <!--/.nav-collapse -->

           
        </div>      
            </div>

             <div class="col-md-3 col-sm-6 col-xs-6 pull-right" data-animate="fadeInDown">
           <top-menu  data-step="9" data-intro="Click here to access dashboard!" ng-if="!search.show"></top-menu> 
        </div>
            
        </div>
        
    </div>
   </div>

<!-- *** TOP BAR END *** -->

<!-- *** NAVBAR ***
_________________________________________________________ -->

<div  class="navbar navbar-default yamm" role="navigation" id="navbar" ng-if="$stateParams.slug">
    <div  class="container">
  <div  class="col-md-12">
        <div  class="navbar-header">

            
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation" ng-click="isCollapsed1 = !isCollapsed1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                
               

            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse navbar-static-top megamenu pull-left" id="navigation">
          <div >
            <ul  data-step="1"  data-intro="Browse media options by category!" class="nav navbar-nav navbar-left pull-right" ng-hide="isAdmin()">
                <li class="dropdown yamm-fw" ng-repeat="p in vm.categories">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >{{p.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="h in p.child">
                                        <!-- <h5>All</h5> -->
                                        <ul>
                                            <div>
                                                 <li ><a href="/Category/{{h.slug}}/{{h._id}}"><ng-md-icon icon="{{h.icon}}" md-menu-align-target></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{h.name}}</a>
                                                 </li>  
                                            </div>
                                      

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>
            </ul>

          </div>
        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons pull-right">
            <!--  <md-button ng-click="vm.openCart()" class="md-raised cart" ng-if="!search.show">
                    <ng-md-icon icon="shopping_cart"></ng-md-icon>
                    <span  show-gt-sm>Cart {{vm.cart.getTotalCount()}} Items  </span>
                    <span hide show-gt-sm odometer="vm.cart.getTotalPrice()">
                  </md-button> -->
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right" id="search-not-mobile">
                <button data-step="2" data-intro="Or Search publisher by name!" type="button" class="btn navbar-btn btn-danger" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                     <ng-md-icon icon="search"></ng-md-icon>
                </button>
            </div>

        </div>

        <div class="collapse clearfix" id="search">
           <div class="search" layout="row" layout-align="center center" flex ng-if="search.show || vm.$mdMedia('gt-xs')">
        <div class="searchbox" layout="row" layout-align="center center" flex>
            <form ng-submit="$event.preventDefault()" flex>
                <md-autocomplete
                    ng-cloak
                    md-selected-item="vm.selectedItem"
                    md-search-text-change="vm.searchTextChange(vm.searchText)"
                    md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(item)"
                    md-items="item in vm.querySearch(vm.searchText)"
                    md-item-text="item.name"
                    md-min-length="1"
                    placeholder="Search for publishers here"
                    md-menu-class="navbar-autocomplete">
                    <md-item-template>
                        <img ng-if="item.logo[0].base64"  width="50px"  height="50px" 
                        data-ng-src="data:image/png;base64,{{item.logo[0].base64}}" err-SRC="/assets/images/material-shop.jpg"/>
            <span md-highlight-text="vm.searchText">{{item.name}}</span>
                    </md-item-template>
          <md-not-found>
            No item matching "{{vm.searchText}}" were found.
          </md-not-found>
                </md-autocomplete>
            </form>

        </div>
    </div>
        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->
</div>
<!-- *** NAVBAR END *** -->
</div>
 <script>
 
   $('#options').flagStrap({
    countries: {
        "AU": "Australia",
        "GB": "United Kingdom",
        "US": "United States"
    },
	buttonSize: "btn-sm",
    buttonType: "btn-info",
    labelMargin: "10px",
    scrollable: false,
    scrollableHeight: "350px"
});
  
    $('#advanced').flagStrap({
	
	 onSelect: function (value, element) {
        //alert(value);
		if(value == 'ZW'){
		 window.location.href="http://www.adspaces.co.zw";
		}
		if(value == 'ZA'){
		  window.location.href="http://www.adspaces.co.za";
		}
		if(value == 'ZM'){
		  window.location.href="http://www.adspaces.co.zm";
		}
        console.log(element);
    }
	 
	});
	
	  $("span[class*='flagstrap']").replaceWith(function(n){
            return "<span class='flagstrap-selected-wGXyO2cQ'><i class='flagstrap-icon flagstrap-zw' style='margin-right: 10px;'></i>Zimbabwe</span>";
        });
	
	

</script>
